<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Link Shrink</title>
  </head>
  <body>
    <div class="container">
      <h1>Link Shrink</h1>
      <h2>Please Enter URL Below</h2>
      <form action="" method="POST" class="my-4 form-inline">
        <label for="originalURL" class="sr-only">Link Here</label>
        <input
          required
          placeholder="Link"
          type="url"
          name="originalURL"
          id="originalURL"
          class="form-control col mr-2"
        />
        <button type="submit">Short</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Original Link</th>
            <th>Shrinked Link</th>
            <th>Times accessed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://raymondnwambuonwo.netlify.com/"
                >https://raymondnwambuonwo.netlify.com/</a
              >
            </td>
            <td><a href="12345">12345</a></td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
