<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shrink</title>
  </head>
  <body>
    <h1>Link Shrink</h1>
    <h2>Please Enter URL Below</h2>
    <form action="" method="POST">
      <label for="originalURL">Link Here</label>
      <input type="url" name="originalURL" id="originalURL" />
      <button type="submit">Short</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Original Link</th>
          <th>Shrinked Link</th>
          <th>Times accessed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href=""></a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
